<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin id="hgdbprotege" name="HyperGraphDB Versioned Storage" version="1.7.0">

	<extension id="HGOwlEditorKitFactory"
	           point="org.protege.editor.core.application.EditorKitFactory">
	  <label value="Hypergraph Ontology"/>
	  <class value="gov.miamidade.hgowl.plugin.owl.HGOwlEditorKitFactory"/>
	</extension>
    
    <extension
          id="HGOwlOntologyRepository"
          point="org.protege.editor.core.application.OntologyRepositoryFactory">
          <class value="gov.miamidade.hgowl.plugin.owl.HGOwlOntologyRepositoryFactory" />       
    </extension>

    <extension id="HGOwlPreferences"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="Hypergraph"/>
        <class value="gov.miamidade.hgowl.plugin.ui.VDHGOwlPreferencesPanel"/>
    </extension>
    
    <extension id="ui.view.hypergraphdb.menu"
    		   point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="HypergraphDB"/>
        <toolTip value="Hypergraph specific actions"/>
        <path value="/SlotCR-C"/>
	    <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="ui.view.menu.hypergraphGarbageAnalysis"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Run Garbage Analysis"/>
        <toolTip value="Analyse unused atoms"/>
        <path value="org.hypergraphdb-hgdbprotege.ui.view.hypergraphdb.menu/SlotAA-A"/>
        <class value="gov.miamidade.hgowl.plugin.ui.HGRunGCAnalyzeAction"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    

    <extension id="ui.view.menu.hypergraphGarbageCollect"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Run Garbage Collection"/>
        <toolTip value="Clean up unused atoms"/>
        <path value="org.hypergraphdb-hgdbprotege.ui.view.hypergraphdb.menu/SlotAA-B"/>
        <class value="gov.miamidade.hgowl.plugin.ui.HGRunGCAction"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="ui.view.menu.hypergraphStatistics"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Show Database Statistics"/>
        <toolTip value="Show statistics of whole graph."/>
        <path value="org.hypergraphdb-hgdbprotege.ui.view.hypergraphdb.menu/SlotAA-C"/>
        <class value="gov.miamidade.hgowl.plugin.ui.HyperGraphShowStatisticsAction"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="ui.view.menu.hypergraphImportOntology"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Import Active Ontology"/>
        <toolTip value="Imports the Active Ontology into the Hypergraph Repository"/>
        <path value="org.hypergraphdb-hgdbprotege.ui.view.hypergraphdb.menu/SlotAA-D"/>
        <class value="gov.miamidade.hgowl.plugin.ui.ImportOntologyAction"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="ui.view.menu.hypergraphDeleteOntology"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Delete Ontology from Hypergraph Repository"/>
        <toolTip value="Delete Ontology from Hypergraph Repository"/>
        <path value="org.hypergraphdb-hgdbprotege.ui.view.hypergraphdb.menu/SlotAA-E"/>
        <class value="gov.miamidade.hgowl.plugin.ui.DeleteOntologyFromRepositoryAction"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    
    <extension id="ui.view.hgversioning.menu"
    		   point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Local Versioning"/>
        <toolTip value="Actions related to versioning ontologies"/>
        <path value="/SlotCR-D"/>
        <class
              value="gov.miamidade.hgowl.plugin.ui.versioning.DynamicVersioningMenu">
        </class>
        <dynamic
              value="true">
        </dynamic>
	    <editorKitId value="OWLEditorKit"/>
    </extension>    
    
    <extension id="ui.view.hgteam.menu"
    		   point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Team"/>
        <toolTip value="P2P specific actions"/>
        <path value="/SlotCR-E"/>
        <class
              value="gov.miamidade.hgowl.plugin.ui.versioning.distributed.DynamicTeamMenu">
        </class>
        <dynamic
              value="true">
        </dynamic>
	    <editorKitId value="OWLEditorKit"/>
    </extension>    

</plugin>    
